#logo_container
  %h1= link_to "Comic Wall - 'With great comics comes great discussions.'", root_path, id: 'comic-wall-logo'
%nav.navbar.navbar-default#top-navbar-custom
  .container-fluid
    .pull-left#search-form-container
      = bootstrap_form_tag url: search_comics_path, method: :get, layout: :inline do |f|
        = f.text_field :search, placeholder: 'Spider-Man, Batman, ...', hide_label: true, id: 'search-bar'
        = f.submit 'Comic Search'
    .pull-right
      - if logged_in?
        =link_to 'Your Reading List', reading_list_path, class: 'btn btn-default navbar-btn navigation-buttons'
        =link_to 'Your Account', user_path(current_user), class: 'btn btn-default navbar-btn navigation-buttons'
        =link_to 'Logout', logout_path, class: 'btn btn-danger navbar-btn navigation-buttons'
      -else
        =link_to 'Login', login_path, class: 'btn btn-success navbar-btn navigation-buttons'
