#logo_container
  %h1= link_to "Comic Wall - '#{logo_quote_picker}'", root_path, id: 'comic-wall-logo'
%nav.navbar.navbar-default#top-navbar-custom
  .container-fluid
    .pull-right
      =link_to 'Login', '#', class: 'btn btn-success navbar-btn navigation-buttons'
