#logo_container
  %h1= link_to "Comic Wall - 'With great comics comes great discussion.'", root_path, id: 'comic-wall-logo'
%nav.navbar.navbar-default#top-navbar-custom
  .container-fluid
    .pull-right
      =link_to 'Login', login_path, class: 'btn btn-success navbar-btn navigation-buttons'
