.cover-art-links {
  p {
    font-size: 22px;
    font-family: 'Bangers';
    color: #000;
  }

  &:hover{
    color: #000;
  }
}

.comic-cover-sm {
  padding: 5px;
  background-color: #dadfe1;
  width: 100%;
  max-width: 350px;
  height: auto;
}

#comic-list {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 10px 0px;

  li {
    margin: 0px 50px;
    padding: 10px;
    display: inline-block;
  }
}
