#discussion-header {
  h2 {
    font-size: 45px;
    border-bottom: 5px solid #dadfe1;

    a {
      font-size: 16px;
    }
  }

  h3 {
    font-size: 35px;
  }

  small {
    font-size: 16px;
  }

  p {
    font-size: 24px;
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #dadfe1;
  }
}

#reply-text-area {
  width: 60%;
}

#reply-area {
  h4 {
    font-weight: bold;
  }

  ul {
    list-style-type: none;

    li {
      margin-top: 15px;
      border-top: 2px dashed #dadfe1;
      border-bottom: 2px dashed #dadfe1;
      padding: 10px 0px;
    }
  }

  p {
      font-size: 24px;
  }
}
