#discussion-header {
  h2 {
    font-size: 45px;
    border-bottom: 5px solid #dadfe1;

    a {
      font-size: 16px;
    }
  }

  h3 {
    font-size: 35px;
  }

  small {
    font-size: 16px;
  }

  p {
    font-size: 24px;
    margin-top: 25px;
    border-bottom: 2px solid #dadfe1;
  }
}
